:root {
    --dark-color-1: rgb(44, 44, 44);
    --dark-color-2: rgb(60, 60, 60);
    --dark-color-3: rgb(80, 80, 80);
    --dark-color-4: rgb(120, 120, 120);
    --dark-text-color: beige;
    --dark-dl-btn-color: greenyellow;
    --dark-dl-btn-hover-color: lightgreen;
    --dark-disabled-input-text-color: rgb(255, 180, 180);
    --dark-link-color: lightblue;
    --dark-link-hover-color: rgb(50, 215, 230);

    --light-color-1: rgb(235, 235, 235);
    --light-color-2: rgb(210, 210, 210);
    --light-color-3: rgb(190, 190, 190);
    --light-color-4: rgb(160, 160, 160);
    --light-text-color: rgb(75, 75, 75);
    --light-dl-btn-color: green;
    --light-dl-btn-hover-color: lightgreen;
    --light-disabled-input-text-color: rgb(145, 0, 0);
    --light-link-color: blue;
    --light-link-hover-color: rgb(100, 100, 255);

    --header-height: 50px;
    --footer-height: 30px;
    --base-margin: 5px;
    --transition-base: 250ms;
}

html.dark {
    --text-color: var(--dark-text-color);
    --main-bg-color: var(--dark-color-1);
    --scrollbar-thumb-color: var(--dark-color-2);
    --header-bg-color: var(--dark-color-3);
    --footer-bg-color: var(--dark-color-3);
    --input-bg-color: var(--dark-color-3);
    --scrollbar-track-color: var(--dark-color-4);
    --border-color: var(--dark-color-4);
    --mode-selection-color: var(--dark-color-4);
    --hover-input-color: var(--dark-color-4);
    --dl-btn-color: var(--dark-dl-btn-color);
    --dl-btn-hover-color: var(--dark-dl-btn-hover-color);
    --disabled-input-text-color: var(--dark-disabled-input-text-color);
    --link-color: var(--dark-link-color);
    --link-hover-color: var(--dark-link-hover-color);

    #dark {
        background-color: var(--mode-selection-color);
    }

    #light {
        background-color: transparent;
    }
}

html.light {
    --text-color: var(--light-text-color);
    --main-bg-color: var(--light-color-1);
    --scrollbar-thumb-color: var(--light-color-2);
    --header-bg-color: var(--light-color-3);
    --footer-bg-color: var(--light-color-3);
    --input-bg-color: var(--light-color-3);
    --scrollbar-track-color: var(--light-color-4);
    --border-color: var(--light-color-4);
    --mode-selection-color: var(--light-color-4);
    --hover-input-color: var(--light-color-4);
    --dl-btn-color: var(--light-dl-btn-color);
    --dl-btn-hover-color: var(--light-dl-btn-hover-color);
    --disabled-input-text-color: var(--light-disabled-input-text-color);
    --link-color: var(--light-link-color);
    --link-hover-color: var(--light-link-hover-color);

    #light {
        background-color: var(--mode-selection-color);
    }

    #dark {
        background-color: transparent;
    }
}

html {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-size: 16px;
    transition: var(--transition-base);
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-track-color) var(--scrollbar-thumb-color);
}

body {
    margin: 0;
}

input,
select {
    cursor: pointer;
}

input[type="number"] {
    cursor: text;
}

header {
    min-height: var(--header-height);
    background-color: var(--header-bg-color);
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: var(--transition-base);
}

menu {
    margin: 0;
    display: flex;
    align-self: center;
}

#light-dark {
    justify-self: end;
    margin: 0 5px;
    display: flex;
    border: var(--border-color) 1px solid;
    border-radius: 15px;
}

.btn {
    padding: 0.5em 1em;
    cursor: pointer;
    transition: var(--transition-base);
}

span {
    line-height: 2em;
}

#light {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

#dark {
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

.container-main {
    display: grid;
    padding-top: 50px;
    grid-template-columns: minmax(400px, 2fr) minmax(200px, 1fr);
    margin: var(--base-margin);
}

.container-graph {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    height: calc(100vh - var(--header-height) - var(--footer-height) - 4*var(--base-margin));
    transition: height 0ms;
    min-height: 300px;
    margin: var(--base-margin);
}

.container-graph>img {
    max-width: calc(100% - 10px);
    max-height: calc(100% - 10px);
    object-fit: contain;
    margin: auto;
    overflow: hidden;
    /* overflow: hidden needed for Chrome*/
}

.container-controls,
#graph-parameters {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: calc(100vh - var(--header-height) - var(--footer-height) - 4*var(--base-margin));
    transition: var(--transition-base);
    transition: height 0ms;
}

.container-controls {
    overflow: hidden scroll;
}

#graph-parameters>* {
    margin: var(--base-margin);
}

input[type="submit"] {
    background-color: var(--input-bg-color);
    border: 0;
    border-radius: 10px;
    color: var(--text-color);
    font-size: inherit;
    transition: var(--transition-base);
}

.container-countries {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

select {
    background-color: var(--input-bg-color);
    border: 0;
    color: var(--text-color);
    font-size: inherit;
    transition: var(--transition-base);
}

#countries {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#filetype {
    border-top-right-radius: 3px;
}

.container-colors {
    border: 2px solid var(--border-color);
    border-radius: 6px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px;
    align-items: center;
}

.container-alphas {
    border: 2px solid var(--border-color);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
    align-items: center;
}

.container-file {
    border: 2px solid var(--border-color);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 5px; */
    align-items: center;
}

#download-graph-button {
    background-color: var(--input-bg-color);
    color: var(--dl-btn-color);
    border: 0;
    font-size: inherit;
    grid-column: span 2;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: var(--transition-base);
}

label {
    margin: 0 5px;
}

input[type="color"] {
    background-color: var(--input-bg-color);
    border: 0;
    font-size: inherit;
    justify-self: end;
    margin-right: 5px;
    transition: var(--transition-base);
}

input[type="range"] {
    min-width: 100px;
}

input[type="number"] {
    background-color: var(--input-bg-color);
    color: var(--text-color);
    border: 0;
    width: 50px;
    justify-self: end;
    margin-right: 5px;
}

input[type="submit"]:hover,
input[type="color"]:hover,
select:hover,
#download-graph-button:hover {
    background-color: var(--hover-input-color);
}

#download-graph-button:hover {
    color: var(--dl-btn-hover-color);
}

#download-graph-button:disabled,
#countries:disabled,
#btn-get-graph:disabled,
#filetype:disabled {
    cursor: auto;
    background-color: var(--input-bg-color);
    color: var(--disabled-input-text-color);
}

footer {
    position: fixed;
    top: calc(100vh - var(--footer-height));
    width: 100%;
    display: flex;
    background-color: var(--footer-bg-color);
    height: var(--footer-height);
    align-items: center;
    justify-content: center;
    transition: var(--transition-base);
    transition: height 0ms;
}

footer>* {
    margin: 0 10px;
    transition: var(--transition-base);
}

footer>a {
    color: var(--link-color);
}

footer>a:hover {
    color: var(--link-hover-color);
}

@media(max-width:900px) {
    .container-main {
        grid-template-columns: 1fr;
    }

    .container-graph,
    .container-graph>img {
        height: auto;
    }

    .container-controls,
    #graph-parameters {
        height: auto;
        overflow: initial;

    }

    footer {
        position: relative;
        top: initial;
    }
}

@media(max-height:400px) {

    .container-controls,
    #graph-parameters {
        height: auto;
        overflow: initial;
    }

    footer {
        position: relative;
        top: initial;
    }
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}